<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Post"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container px-5 mb-5">
    <div class="card">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em" class="text-center"></text></svg>
        <div class="card-body">
            <h3 th:text="${post.title}" class="mb-3 text-center"></h3>
            <p th:text="${post.fullText}" class="card-text mb-auto"></p>
            <p class="mb-5"></p>

            <a th:href="'/blog/' + ${post.id} + '/edit'" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">Edit</a>
            <a th:href="'/blog/' + ${post.id} + '/remove'" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">Remove</a>


            <!---
            <form th:action="'/blog/' + ${post.id} + '/remove'" method="post"></form>
            <button class="btn btn-outline-danger" type="submit">Remove</button>
            <br>
            --->
        </div>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>

